<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <script
			  src="https://code.jquery.com/jquery-2.2.4.js"
			  integrity="sha256-iT6Q9iMJYuQiMWNd9lDyBUStIq/8PuOW33aOqmvFpqI="
              crossorigin="anonymous">
    </script>
    <script src="/assets/todo-list.js"></script>
    <link rel="stylesheet" href="/assets/styles.css"/>

    <title>To Do List</title>
</head>
<body>
    <div id="todo-table">
        <h1>To Do List</h1>
        <form>
           <input type="text" name="item" placeholder="Add New Item...">
           <button type="submit">Add Item</button> 
        </form>

        <ul>
            <% for(let i = 0; i < chores.length; i++){ %>
                <li><%= chores[i].item %></li>
            <% } %>
        </ul>

    </div>
</body>
</html>